 # Question 1:

In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

soup = BeautifulSoup(page.content, 'lxml')

In [3]:
match = soup.find('table', attrs={'class':'wikitable sortable'})

In [4]:
table_rows = match.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)
res
df= pd.DataFrame(data=res, columns=['Postalcode', "Borough", "Neighborwood"])
df.head()

  Postalcode           Borough      Neighborwood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [5]:
df_clean = df.loc[df['Borough'] != "Not assigned"]
df_clean.head()

  Postalcode           Borough      Neighborwood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [6]:
df1  = df_clean.groupby('Postalcode')['Neighborwood'].apply(list)

In [7]:
df2 = pd.merge(df1, df_clean, on='Postalcode')
dfg = df2.drop(['Neighborwood_y'], axis=1)
dfg.head()

  Postalcode                            Neighborwood_x      Borough
0        M1B                          [Rouge, Malvern]  Scarborough
1        M1B                          [Rouge, Malvern]  Scarborough
2        M1C  [Highland Creek, Rouge Hill, Port Union]  Scarborough
3        M1C  [Highland Creek, Rouge Hill, Port Union]  Scarborough
4        M1C  [Highland Creek, Rouge Hill, Port Union]  Scarborough

In [8]:
df_unique = dfg.drop_duplicates(subset=['Postalcode'], keep="first")

df_unique1 = df_unique[['Postalcode', "Borough", "Neighborwood_x"]].rename(columns={"Neighborwood_x":"Neighborwood"})

In [9]:
df_unique1["Neighborwood"] = df_unique1['Neighborwood'].apply(lambda x: ','.join(map(str, x)))
FINALE = df_unique1

##  Answer to the first question:

In [44]:
FINALE.loc[FINALE['Neighborwood'] == "Not assigned", 'Neighborwood'] = FINALE["Borough"]
FINALE.head(11)

   Postalcode      Borough                                       Neighborwood
0         M1B  Scarborough                                      Rouge,Malvern
2         M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
5         M1E  Scarborough                    Guildwood,Morningside,West Hill
8         M1G  Scarborough                                             Woburn
9         M1H  Scarborough                                          Cedarbrae
10        M1J  Scarborough                                Scarborough Village
11        M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
14        M1L  Scarborough                      Clairlea,Golden Mile,Oakridge
17        M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
20        M1N  Scarborough                         Birch Cliff,Cliffside West
22        M1P  Scarborough  Dorset Park,Scarborough Town Centre,Wexford He...

In [47]:
FINALE.shape[0]

103